<section class="u-clearfix u-section-2" id="sec-a20c">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded u-clearfix u-custom-html u-custom-html-1">
          <meta charset="UTF-8">
          <title></title>
          <h2>Select Files to Upload</h2>
          <form action="http://127.0.0.1:5000/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="dbConfig" name="db.config" accept=".config">
            <label for="dbConfig">Select Database.config file:</label>
            <br>
            <input type="file" id="apiJson" name="API.json" accept=".json">
            <label for="apiJson">Select API.json file:</label>
            <br>
            <input type="file" id="csv" name="Test.csv" accept=".csv">
            <label for="apiJson">Select Exam.csv file:</label>
            <br>
            <input type="submit" value="Upload Files">
          </form>
        </div>
    </div>
</section>